
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav{
    margin-left: 2.5rem;
    margin-right: 2.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 3.5rem;
    background-color: antiquewhite;
}
.nav_menu{
    display: flex;
    column-gap: 2.5rem;
}
.nav_lists{
    display: flex;
    column-gap: 2.5rem;
}
.container{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}