@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
:root{  
    --bg-color: hsl(256, 26%, 20%);
    --icon-color: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --text-color: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --header-FF: 'DM Serif Display', serif;
    --body-FF: 'Karla', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    font-family: var(--body-FF);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
hr{
    margin: 1.5rem 0;
}
h1{
    font-family: var(--header-FF);
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 200;
}
.hero_title,
.section_title{
    position: relative;
}
.section_title::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    background-color: var(--text-color);
    top: -50px;
}
.hero_title::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    background-color: var(--text-color);
    top: -50px;
}
h2{
    font-family: var(--header-FF);
    font-size: 3rem;
    line-height: 1;
    font-weight: 200;
    color: var(--Very-Light-Gray);
}
h4{
    font-family: var(--header-FF);
    font-size: 1.25rem;
}
p{
    color: var(--text-color);
    margin-top: 1rem;
}
span{

    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
button{
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-size: 12px;
    background-color: transparent;
    width: fit-content;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
main{
    padding: 15rem 0 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
}
footer{
    background-color: var(--Very-Light-Gray);
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
}
.container{
    margin-left: 6rem;
    margin-right: 6rem;
}
.nav{
    margin-left: 6rem;
    margin-right: 6rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 3.5rem;
}
.nav_menu{
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
}
.nav_lists{
    display: flex;
    column-gap: 2.5rem;
    text-transform: uppercase;
}
.nav_lists .nav_item{
    color: black;
}
.nav_btn{
    font-family: inherit;
    transition: .3s;
}
.nav_btn:hover{
    cursor: pointer;
    background-color: var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    font-weight: 700;

}
.menu_area{
    display: none;
}
.menu_img{
    display: none;
}

.hero_section{
    background-color: var(--bg-color);
    color: #fff;
    position: relative;
}
.hero_content{
    position: initial;
}
.top_bg{
    position: absolute;
    top: -40%;
    right: -130%;
    width: 300px;
}
.bot_bg{
    position: absolute;
    left: -4rem;
    width: 130px;
}
.hero_cont{
    display: flex;
    column-gap: 3rem;
}
.hero_content,
.hero_display{
    flex: 1;
}
.hero_content{
    position: inherit;
    margin: 8rem 0 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.hero_display img{
    flex: 1;
    position: absolute;
    right: 15%;
    bottom: -7rem;
    width: 400px;
    object-fit: cover;
    border-radius: .5rem;
}
.hero_btn{
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    margin-top: 1rem;
    cursor: pointer;
    transition: .3s;
}
.hero_btn:hover{
    background-color: var(--Very-Light-Gray);
    color: var(--text-color);
    font-weight: 700;
}

/****** ------- ABOUT SECTION --------- ********/
.about_cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin-top: 4rem;
}
.about_cont img{
    width: 70px;
    height: auto;
    margin-bottom: 1.5rem;
}

.newsletter_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    background-color: var(--bg-color);
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}
.news_context,
.news_button{
    flex: 1;
}
.news_button{
    display: flex;
    justify-content: flex-end;
}
.news_btn{
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    cursor: pointer;
    transition: .4s; 
}
.news_btn:hover{
    background-color: var(--Very-Light-Gray);
    color: var(--text-color);
    font-weight: 700;
}

/******** ------ FOOTER ------- *******/
.footer_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75rem;
}
.footer_logo .social_icon:hover{
    fill: black;
}
.footer_logo .social_icon:focus{
    fill: black;
}
.footer_img{
    position: absolute;
    top: 0;
    left: 0;
}
.footer_links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 8rem;
}
.footer_items{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer_links li{
    font-weight: 600;
    margin-top: 1rem;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}
.footer_links li:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .container{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .nav{
        margin-left: 4rem;
        margin-right: 4rem; 
    }
    .hero_display img{
        flex: 1;
        position: absolute;
        right: 5%;
        bottom: -5rem;
        width: 400px;
        object-fit: cover;
        border-radius: .5rem;
    }
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    h1::before{
        position: absolute;
        content: "";
        height: 2px;
        width: 70px;
        background-color: var(--text-color);
        top: -30px;
    }
    h2{
        font-size: 1.5rem;
    }
    h4{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
    button{
        padding: .5rem 1rem;
        text-transform: uppercase;
        font-size: 10px;
        background-color: transparent;
        width: fit-content;
        cursor: pointer;
    }
    main{
        padding: 10rem 0 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }
    .hero_content{
        position: initial;
    }
    .hero_display img{
        flex: 1;
        position: absolute;
        right: 5%;
        bottom: -4rem;
        width: 300px;
        object-fit: cover;
        border-radius: .5rem;
    }
    .container{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .nav{
        margin-left: 2.5rem;
        margin-right: 2.5rem; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        height: 3.5rem;
    }
    .nav_link{
        font-size: 12px;
    }
    .hero_content{
        margin: 7rem 0 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .hero_design img:first-child{
        width: 200px;
    }
    .hero_design img:last-child{
        width: 120px;
    }
    .about_cont{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        margin-top: 4rem;
    }
    .card_desc{
        font-size: 12px;
    }
    .about_cont img{
        width: 50px;
        height: auto;
        margin-bottom: 1rem;
    }
    .newsletter_cont{
        padding: 3rem;

    }
    .footer_links{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 5rem;
    }
    .footer_link{
        font-size: 14px;
    }
    .footer_links li{
        font-weight: 400;
        font-size: 12px;
        transition: .3s;
    }
}
@media screen and (max-width: 500px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }

    h4{
        font-size: 1.25rem;
    }
    p{
        font-size: 16px;
        color: var(--text-color);
        line-height: 1.5;
    }
    /* header{
        overflow-y: hidden;
    } */
    .nav{
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem; 
        display: flex;
        justify-content: space-between;
    }
    .hero_title::before{
        display: none;
    }
    .nav .menu_collapse{
        left: 0;
    }

    .nav_menu{
        position: absolute;
        width: calc(100% + 2rem);
        padding-top: 4rem;
        margin-left: -1rem;
        left: -150%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
        min-height: 100vh;
        z-index: 10;
        top: 3.5rem;
        background-color: var(--Very-Dark-Violet);
        transition: .4s ease;
    }
    .menu_area{
        display: block;
    }
    .menu_img{
        display: block;
        position: absolute;
        bottom: 0;
    }
    .menu_close{
        position: absolute;
        top: .65rem;
        right: 150%;
    }
    .nav .close{
        right: 1.5rem;
    }
    .nav_lists{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.5rem;
    }
    .nav_btn{
        color: var(--Very-Light-Gray);
        border: 2px solid var(--Very-Light-Gray);
        width: 80%;
        cursor: pointer;
        font-size: 1rem;
    }
    .nav_link{
        color: #fff;
        font-size: 1rem;
    }
    .hero_section{
        position: initial;
        padding: 0 0 2rem;
        margin: 0;
        /* overflow-x: hidden;
        overflow-y: visible; */
    }
    .hero_cont{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        position: relative;
    }
    .hero_content,
    .hero_display{
        flex: 1;
    }
    .hero_content{
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        text-align: center;
    }
    .hero_btn{
        padding: .75rem 2rem;
        margin-bottom: 5rem;
        letter-spacing: 1px;
    }
    .hero_display{
        width: calc(100% + 5rem);
        margin-left: -2.5rem;
        margin-right: -2.5rem;
        margin-bottom: 5rem;
    }
    .hero_display img{
        position: initial;
        width: 100%;
        object-fit: cover;
        border-radius: 0;
    }
    .hero_bg{
        position: absolute;
        width: 150px;
    }
    .top_bg{
        position: absolute;
        right: 0;
        top: 70%;
    }
    .bot_bg{
        left: -2.5rem;
        top: -5.5rem;
    }
    .section_title{
        text-align: center;
        position: relative;
    }
    .section_title::before{
        position: absolute;
        content: "";
        height: 1px;
        width: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--text-color);
    }
    .about_cont{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        margin-top: 4rem;
    }
    .about_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card_desc{
        font-size: .913rem;
    }
    .about_cont img{
        width: 80px;
        height: auto;
        margin-bottom: 1.5rem;
    }
    .newsletter_cont{
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    }
    .news_btn{
        letter-spacing: 1px;
    }
    .footer_logo{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
    }
    .footer_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
    }
    .footer_items{
        display: flex;
        align-items: center;
        text-align: center;
    }
}